---
title: "Remember Me. O app para memorizar versículos da Bíblia com alegria"
linkTitle: "Remember Me 6"
description: "Junte-se a mais de dois milhões de usuários que descobriram a alegria da memorização da Bíblia com o Remember Me, o aplicativo de memorização da Bíblia mais popular. Mergulhe em uma experiência de fortalecimento da fé com jogos, áudio e imagens projetados para ajudá-lo a aprender a Palavra de Deus de cor. Este aplicativo gratuito de memorização da Bíblia permite que você memorize versículos de qualquer tradução da Bíblia facilmente. O sistema inteligente de revisão do Remember Me garante que você retenha seus versículos bíblicos para sempre."
---

{{< blocks/cover image_anchor="top" height="full" color="dark" >}}
{{< site-cover subTitle="O app grátis, divertido e eficaz de aprender versículos bíblicos! Sem publicidade, sem restrições." >}}
{{< blocks/link-down color="success" >}}
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Memorizar a Bíblia com jogos, imagens, áudio e cartões de versículos bíblicos
{{% /blocks/lead %}}
{{< blocks/section color="white" type="row" >}}

{{< blocks/section color="white" >}}
<div style="text-align: center; width: 100%">
    <img src="/images/screen2-pt.png" alt="Adicione versículos de bíblias e coleções" height="480px"/><img src="/images/screen1-pt.png" alt="Divirta-se com vários métodos de estudo" height="480px"/><img src="/images/screen3-pt.png" alt="Revise os versículos com áudio e flashcards" height="480px"/><img src="/images/screen4-pt.png" alt="Listas e gráficos para acompanhar seu sucesso" height="480px"/>
</div>
{{< /blocks/section >}}

{{% blocks/feature icon="fa-lightbulb" title="O app de memorização da Bíblia" %}}
{{< page-description >}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-heart" title="Características" %}}
Vários jogos de memorização da bíblia (puzzles de palavras, preenchimento de espaços em branco, soletrador de versos)
● Jogos de perguntas bíblicas aleatórias
● Flashcards bíblicos com repetição espaçada
● Ouvir versículos bíblicos ou gravar versículos para memorização
● Imagens de versículos bíblicos
● Recuperação de passagens bíblicas a partir de Bíblias online
● Partilhar coleções de versículos com outros
● Sincronização multi-dispositivo
● Numerosas traduções da Bíblia
● Marcação flexível e filtros
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-gitlab" title="Contribuições bem-vindas!" %}}
Encontrou um bug? Por favor, reporte-o para [support@remem.me](mailto:support@remem.me).<br/>
Criou um tutorial em vídeo? Por favor, avise-nos para que possamos vinculá-lo.<br/>
Você pode ajudar a traduzir este aplicativo de memorização da Bíblia e sua documentação para outro idioma? Por favor, leia as [instruções](/contribute/translate).<br/>
A nova versão 6 do Remember Me é [código aberto](https://gitlab.com/remem-me).
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-star" %}}
"Amei esse aplicativo. É muito útil, pq da memorizar outras coisas e não só a biblia. Claro que a biblia é o principal, mas vai me servir pra os estudos também :) que Deus abençoe os criadores desse app maravilhoso ❤️" Raquel Moreira
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-star" %}}
"Sensacional 👏 ferramentas necessárias para quem deseja memorizar versículos, capítulos, até livros bíblicos." Sidnei Ferreira
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-star" %}}
"Excelente app para memorização de versículos. Tem recursos ótimos pra ajudar a memorização." João Luiz Rufino
{{% /blocks/feature %}}

{{< /blocks/section >}}
