/* noto-sans-regular - latin_greek_cyrillic */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('NotoSans-Regular'),
    url(noto-sans-v27-latin_greek_cyrillic-regular.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url(noto-sans-v27-latin_greek_cyrillic-regular.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url(noto-sans-v27-latin_greek_cyrillic-regular.ttf) format('truetype');
}

/* noto-sans-700 - latin_greek_cyrillic */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local('NotoSans-Bold'),
    url(noto-sans-v27-latin_greek_cyrillic-700.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url(noto-sans-v27-latin_greek_cyrillic-700.woff) format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url(noto-sans-v27-latin_greek_cyrillic-700.ttf) format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(MaterialIconsRound-Regular.woff2) format('woff2'),
    url(MaterialIconsRound-Regular.woff) format('woff')
    /*url(MaterialIcons-Regular.ttf) format('truetype');*/
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIconsOutlined-Regular'),
    url(MaterialIconsOutlined-Regular.woff2) format('woff2'),
    url(MaterialIconsOutlined-Regular.woff) format('woff')
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: local('Material Symbols'),
    local('MaterialSymbolsOutlined-Regular'),
    url(MaterialSymbolsOutlined-Regular.woff2) format('woff2'),
    url(MaterialSymbolsOutlined-Regular.woff) format('woff')
}

.material-icons, .material-icons-outlined, .material-symbols-outlined {
    vertical-align: bottom;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons {
    font-family: 'Material Icons';
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
}
