---
title: "Remember Me. L'appli pour mémoriser les versets de la Bible avec joie"
linkTitle: "Remember Me 6"
description: "Rejoignez plus de deux millions d'utilisateurs qui ont découvert le plaisir de mémoriser la Bible avec Remember Me, l'application de mémorisation de la Bible la plus populaire. Plongez dans une expérience enrichissante de la foi avec des jeux, de l'audio et des images conçus pour vous aider à apprendre la Parole de Dieu par cœur. Cette appli gratuite de mémorisation de la Bible vous permet de mémoriser les Écritures de n'importe quelle traduction de la Bible facilement. Le système de révision intelligent de Remember Me garantit que vous conservez vos versets bibliques pour la vie."
---

{{< blocks/cover image_anchor="top" height="full" color="dark" >}}
{{< site-cover subTitle="L'application gratuite, amusante et enrichissante pour apprendre les versets bibliques! Pas de publicité, pas de restrictions." >}}
{{< blocks/link-down color="success" >}}
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Mémoriser la Bible - jeux, images, audio & fiches de versets bibliques
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
<div style="text-align: center; width: 100%">
    <img src="/images/screen2-fr.png" alt="Ajouter des versets des bibles et des collections" height="480px"/><img src="/images/screen1-fr.png" alt="S'amuser avec plusieurs méthodes d'étude" height="480px"/><img src="/images/screen3-fr.png" alt="Révision des versets avec audio et fiches" height="480px"/><img src="/images/screen4-fr.png" alt="Listes et graphiques pour suivre vos progrès" height="480px"/>
</div>
{{< /blocks/section >}}

{{< blocks/section color="white" type="row" >}}

{{% blocks/feature icon="fa-lightbulb" title="L'application de mémorisation de la Bible" %}}
{{< page-description >}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-heart" title="Fonctions" %}}
Méthodes d'étude multiples (casse-tête, mots à trous, épellation de vers)
● Jeux de questions aléatoires
● Cartes avec répétition espacée
● Écouter des versets ou enregistrer des versets
● Images de versets bibliques
● Récupérer des passages bibliques à partir de Bibles en ligne
● Partager des collections des versets avec autres personnes
● Synchronisation multi-appareils
● Nombreuses traductions de la Bible
● Étiquetage et filtres flexibles
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-gitlab" title="Contributions bienvenues!" %}}
Avez-vous rencontré un bug ? Veuillez le signaler à [support@remem.me](mailto:support@remem.me).<br/>
Avez-vous créé un tutoriel vidéo ? Faites-le nous savoir, afin que nous puissions y faire un lien.<br/>
Pouvez-vous aider à traduire cette application de mémorisation de la Bible et sa documentation dans une autre langue ? Veuillez lire les [instructions](/contribute/translate).<br/>
La nouvelle version 6 de Remember Me est [Open Source](https://gitlab.com/remem-me).
{{% /blocks/feature %}}

{{< /blocks/section >}}
