---
title: "리멤버 미. 성경 구절을 기쁨으로 암기하는 앱"
linkTitle: "리멤버 미 6"
description: "성경 암송의 기쁨을 발견한 2백만 명이 넘는 사용자들과 함께 최고의 성경 암송 앱인 리멤버 미와 함께하세요. 하나님의 말씀을 암송하는 데 도움이 되도록 설계된 게임, 오디오, 이미지로 구성된 믿음을 키우는 경험에 빠져보세요. 이 무료 성경 암송 앱으로 모든 성경 번역본의 성경을 쉽게 암송할 수 있습니다. 리멤버 미의 스마트 복습 시스템을 사용하면 성경 암송 구절을 평생 간직할 수 있습니다."
aliases:
  - '/kor'
---

{{< blocks/cover image_anchor="top" height="full" color="dark" >}}
{{< site-cover subTitle="재미있고 효과적인 무료 성경 구절을 학습 방법! 광고 없음, 제한 없음." web="웹 브라우저" google="구글 플레이" iphone="아이폰" android="안드로이드">}}
{{< blocks/link-down color="success" >}}
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
게임, 그림, 오디오 및 성경 구절 플래시 카드로 성경 구절을 암기하십시오
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
<div style="text-align: center; width: 100%">
  <img src="/images/screen2-ko.png" alt="수많은 성경과 성경 구절 모음에 있는 텍스트" height="480px"/><img src="/images/screen1-ko.png" alt="성경 구절을 암기하는 다양한 방법의 재미" height="480px"/><img src="/images/screen3-ko.png" alt="오디오 재생 및 플래시카드를 통한 학습 제어" height="480px"/><img src="/images/screen4-ko.png" alt="성경 학습 성공의 길에 대한 목록과 통계 제공" height="480px"/>
</div>
{{< /blocks/section >}}

{{< blocks/section color="white" type="row" >}}

{{% blocks/feature icon="fa-lightbulb" title="성경 암기 앱" %}}
{{< page-description >}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-heart" title="기능" %}}
다양한 학습 방법(단어 퍼즐, 빈칸 채우기, 구절 철자법)
● 랜덤 퀴즈 게임
● 간격 반복이 있는 카드
● 구절을 듣거나 녹음
● 성경 구절 이미지
● 온라인 성경에서 성경 구절 검색
● 다른 사람들과 구절 모음 공유
● 다중 장치 동기화
● 수많은 성경 번역
● 유연한 라벨링 및 필터
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-gitlab" title="기부를 환영합니다!" %}}
버그를 발견하셨나요? [support@remem.me](mailto:support@remem.me)로 보고해 주세요.<br/>
비디오 튜토리얼을 만들었나요? 저희에게 알려주시면 링크를 걸겠습니다.<br/>
이 성경 암기 앱과 그 문서를 다른 언어로 번역하는 데 도움을 주실 수 있나요? [지침](/contribute/translate)을 읽어주세요.<br/>
새로운 리멤버 미 버전 6은 [오픈 소스](https://gitlab.com/remem-me)입니다.
{{% /blocks/feature %}}

{{< /blocks/section >}}