---
title: "Remember Meで聖書の聖句を楽しく暗記・暗唱"
linkTitle: "Remember Me 6"
description: "Remember Meは、Google Playで200万ダウンロードを突破した人気の聖書暗記アプリです。この無料アプリでは、楽しく聖句の暗記・暗唱ができ、信仰も深まります。好みの聖書訳のあらゆる聖句を手軽に暗記できます。ゲーム、音声読み上げ、画像などを活用して、神の御言葉をそらで言えるようになるまで暗記学習に浸りましょう。Remember Meの効果的な復習システムは、聖句が深く心に刻まれるように設計されています。"
---

{{< blocks/cover image_anchor="top" height="full" color="dark" >}}
{{< site-cover subTitle="聖句を楽しく効果的に暗記するための無料アプリ。広告表示なしで無制限に利用可能！" >}}
{{< blocks/link-down color="success" >}}
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
ゲーム、画像、音声読み上げ、フラッシュカードを使って、聖句を永遠に心に刻みましょう
{{% /blocks/lead %}}

{{< blocks/section color="white" type="row" >}}

{{< blocks/feature icon="fa-lightbulb" title="体系的な暗記学習" >}}
{{< page-description >}}
{{< /blocks/feature >}}

{{% blocks/feature icon="fa-heart" title="機能＆特長" %}} 
学習ゲーム (パズル、穴埋めなど)
● ランダムに作成されるクイズ
● フラッシュカードを利用した反復学習
● 聖句の音声読み上げ/暗唱の録音再生
● 聖句カードの背景に好きな写真を追加
● ウェブサイトから聖句を簡単にコピー
● 聖句コレクションの共有・公開
● デバイス間での同期
● 多くの言語のさまざまな聖書訳
● 聖句のラベルと自在なフィルタリング 
{{% /blocks/feature %}} 

{{% blocks/feature icon="fab fa-gitlab" title="貢献者歓迎"%}} アプリの不具合を発見した場合は、[support@remem.me](mailto:support@remem.me)までご連絡ください。Remember Me 6は[オープンソース](https://gitlab.com/remem-me)です。<br>Remember Meのアップデート（アプリのUIやユーザーガイドなど）の日本語訳を行っていただける翻訳経験者の方は、[support@remem.me](mailto:support@remem.me)までご連絡ください。作業はGitLabで行います。{{% /blocks/feature %}} 

{{% blocks/feature icon="fa fa-star" %}} 
「暗記に最適なツールです! 私は50代ですが、この年齢で聖句を暗記できるとはまったく思ってませんでした。最初は別のプログラムで聖句の暗記を始め、後にこのアプリを見つけました。これまで150もの聖句を暗記しました。その中には、ローマ信徒への手紙8章23～39節や詩篇46篇など、11節もある長いものもあります。聖句を暗記したい人には、とってもおすすめのアプリです」<br> キンバリー・ブラントリー 
{{% /blocks/feature %}} 

{{% blocks/feature icon="fa fa-star" %}}  「素晴らしいアプリです！聖句の暗記にとても役立ちます。日数を置いて反復するようになっているシステムは素晴らしいと思います。すでに暗記した聖句を記憶にとどめるのに非常に役立ちます」<br> シェルビー・エックホフ 
{{% /blocks/feature %}} 

{{% blocks/feature icon="fa fa-star" %}}  「とても役に立つアプリです。正直言って、神のみことばを暗記するのに役立つものは何でもありがたいですが、Remember Meは、私が見つけた中で最もシンプルでわかりやすいアプリです。聖句を暗記する方法を模索し続けている人にこのアプリはおすすめです。頑張って続けてください。聖句の暗記は簡単とは言えませんが、このアプリがこれをはるかに容易にしてくれます。このアプリは楽しく暗記ができるように工夫されています。聖書の解釈も怠らないように!」<br>パット・パターソン
{{% /blocks/feature %}} 

{{< /blocks/section >}}