/*

Nothing defined here. The Hugo project that uses this theme can override Bootstrap by adding a file to:

assets/scss/_styles_project.scss

*/
body {
  font-family: "Noto Sans";
}

.td-box--white {
  .fas, .fab {
    color: $primary;
  }

  p > a {
    color: $link-color;
  }
}

footer.bg-dark {
  a {
    color: $info;
  }
}

.nav-link {
  color: rgba(255, 255, 255, 0.8);

  &:hover {
    color: rgba(255, 255, 255, 1.0);
  }
}

.extra-nav {
  position: relative;

  .nav-item {
    position: absolute;
    left: 0.8rem;
    top: 0.5rem;
    z-index: 10;

    .nav-link {
      color: rgba(255, 255, 255, 0.8);
      //text-shadow: 1px 1px 2px $dark;
      font-weight: 700;
      font-size: 0.9rem;
    }
  }
}

@media (min-width: 768px) {
  @supports (position: sticky) {
    .td-sidebar-nav {
      height: calc(100vh - 8.5rem);
    }
  }
  .extra-nav .nav-item {
    position: fixed;
    top: 3.5rem;
  }
}

@media (min-width: 992px) {
  @supports (position: sticky) {
    .td-sidebar-nav.td-sidebar-nav--search-disabled {
      height: calc(calc(100vh - 8.5rem) + 4.5rem);
    }
  }
}

.btn.btn-link.text-success:hover {
  color: $orange !important;
}

table.table-styled {
  border: none;
  border-spacing: 2px;
  border-collapse: separate;
  font-size: 14px;
  line-height: 1.7;
  position: relative;
  overflow: auto;
  overflow-wrap: break-word;

  td, th {
    padding: 4px;
    border: 1px solid #fff;
    text-align: left;
  }

  th {
    background: #a30131;
    color: #fff;
    font-weight: bold
  }

  tr {
    background: rgba(163, 1, 49, 0.2);
    color: #111;

    &:nth-child(even) {
      background: rgba(163, 1, 49, 0.1)
    }

    &:hover, &hover td {
      background-color: rgba(163, 1, 49, 0.3)
    }
  }
}

.card {
  display: inline-flex;
}

.responsive-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.responsive-columns .column {
  flex: 1 1 100%;
}

@media (min-width: 320px) {
  .responsive-columns .column {
    flex: 1 1 calc(50% - 0.5rem);
  }
}

.footnote-ref, .footnote-backref {
  text-decoration: none;
}

.alert .footnote-backref {
  display: none;
}

.footnotes {
  font-size: small;
}



