/*

Add styles or override variables from the theme here.

*/

//$google_font_family: "Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i" !default;
$td-enable-google-fonts: false;
$font-size-base: 1rem !default;

$display1-weight: 300;
$display1-size: 2.3rem;
//$font-weight-bold: 500;
$navbar-brand-font-size: 1.2rem;
$nav-link-font-size: 1.0rem;
$primary: #A30131 !default;
$secondary: #6778c8 !default;
$success: #eba118 !default;
$info: #ffbbbb !default;

$blue: #5b62b3 !default;
$orange: #e37809 !default;
$link-color: #5b62b3 !default;

$td-block-space-top-base: 2rem;
$td-block-space-bottom-base: 2rem;
$h1-font-size: $font-size-base * 2.0 !default;



