<!doctype html>
<!-- removed: html itemscope itemtype="http://schema.org/WebPage" -->
<html
      {{- with .Site.Language.LanguageDirection }} dir="{{ . }}" {{- end -}}
      {{ with .Site.Language.Lang }} lang="{{ . }}" {{- end }} {{/**/ -}}
class="no-js">
<head>
    {{ partial "head.html" . }}
</head>
<body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
<header>
    {{ partial "navbar.html" . }}
</header>
<div class="container-fluid td-default td-outer extra-nav">
    <div class="nav-item dropdown d-block d-lg-none">
        {{ partial "navbar-lang-selector.html" . -}}
    </div>
    <main role="main" class="td-main">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
</div>
{{ partialCached "scripts.html" . }}
</body>
</html>