---
title: "Remember Me. La app para memorizar versículos de la Biblia con alegría"
linkTitle: "Remember Me 6"
description: "Con más de dos millones de descargas en Google Play, Remember Me es la aplicación más popular para memorizar versículos de la Biblia con diferencia. La aplicación gratuita hace que aprender textos bíblicos sea una experiencia alegre y de fortalecimiento de la fe. Le permite elegir cualquier pasaje que desee memorizar. ¡Puede disfrutar de varios juegos diferentes que hacen que la memorización de la Biblia sea fácil y divertida! Cuando haya dominado un versículo de memoria, la aplicación se lo muestra para su repaso cada pocos días, para que pueda retener lo aprendido."
---

{{< blocks/cover image_anchor="top" height="full" color="dark" >}}
	{{< site-cover subTitle="¡La forma divertida, efectiva y gratis de aprender versículos bíblicos! Sin publicidad, sin restricciones." >}}
{{< blocks/link-down color="success" >}}
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Memorizar la Biblia con juegos, imágenes, audio y fichas de versículos bíblicos
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
<div style="text-align: center; width: 100%">
	<img src="/images/screen2-es.png" alt="Agregar versículos de biblias y colecciones" height="480px"/><img src="/images/screen1-es.png" alt="Divertirse con múltiples métodos de estudio" height="480px"/><img src="/images/screen3-es.png" alt="Repasar versículos con audio y fichas" height="480px"/><img src="/images/screen4-es.png" alt="Listas y gráficos para rastrear su éxito" height="480px"/>
</div>
{{< /blocks/section >}}

{{< blocks/section color="white" type="row" >}}

{{% blocks/feature icon="fa-lightbulb" title="La app de memorización de la Biblia" %}}
{{< page-description >}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-heart" title="Características" %}}
Múltiples métodos de estudio (puzzle de palabras, rellena huecos, deletreador de versículos)
● Juegos de preguntas al azar
● Fichas con repeticiones espaciadas
● Escuchar versículos o grábarlos
● Imágenes de versículos bíblicos
● Recuperar textos de la Biblia de Biblias en línea
● Compartir colecciones de versículos con otros
● Sincronización multi-dispositivo
● Numerosas traducciones de la Biblia
● Etiquetación flexible y filtros
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-gitlab" title="Contribuciones bienvenidas!" %}}
¿Has encontrado un error? Por favor, repórtalo a [support@remem.me](mailto:support@remem.me).<br/>
¿Has creado un video tutorial? Por favor, avísanos para que podamos enlazarlo.<br/>
¿Puedes ayudar a traducir esta aplicación de memorización de la Biblia y su documentación a otro idioma? Por favor, lee las [instrucciones](/contribute/translate).<br/>
La nueva versión 6 de Remember Me es [de código abierto](https://gitlab.com/remem-me).
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-star" %}}
"Muchas gracias me encanta fácil de usar, edificante, muy útil a mi edad no es tan fácil aprender y con está app logro memorizar rápidamente y entretenidamente, creo que para cualquier edad es de bendición y provecho" Karla Ibarra
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-star" %}}
"Es excelente!!! Un compañero de memorizado inteligente y preciso. Muy buenas las propuestas y la organización, y las estadísticas son un desafío muy estimulante a seguir memorizando. Me costo un poco aprender a usarlo, pero es el mejor que he probado. Le daría más estrellas, si se pudiera." alejandra beatriz caveda
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-star" %}}
"La mejor app para aprender versículos" Alfredo Salazar
{{% /blocks/feature %}}

{{< /blocks/section >}}
