<img src="/images/logo-full.svg" height="128px"/>
<h1 class="display-3 mt-4 mb-2">{{ .Site.Params.Title }}</h1>
<p class="lead mt-1">{{ .Get "subTitle" }}</p>
<div class="mx-auto mb-1">
    <a class="btn btn-md btn-primary me-2 mb-2" href="https://web.remem.me">
        {{ if isset .Params "web" }}{{ .Get "web" }}{{ else }}Web{{ end }}
        <i class="fab fa-chrome ms-1 "></i>
    </a>
    <a class="btn btn-md btn-primary me-2 mb-2" href="https://apps.apple.com/app/id1600128209">
        {{ if isset .Params "iphone" }}{{ .Get "iphone" }}{{ else }}iPhone{{ end }}
        <i class="fab fa-app-store-ios ms-1 "></i>
    </a>
    </span>
    <a class="btn btn-md btn-primary me-2 mb-2"
       href="https://play.google.com/store/apps/details?id=org.bible.remember_me">
        {{ if isset .Params "google" }}{{ .Get "google" }}{{ else }}Google{{ end }}
        <i class="fab fa-google-play ms-1 "></i>
    </a>
    <a class="btn btn-md btn-primary mb-2"
       href="https://web.remem.me/assets/download/remember_me.apk">
        {{ if isset .Params "android" }}{{ .Get "android" }}{{ else }}APK{{ end }}
        <i class="fab fa-android ms-1 "></i>
    </a>
</div>