<video width="256" height="512" poster="/video/remember-me-demo-poster.png" controls
       style="box-sizing: content-box; border-left: 2px solid rgba(1,1,1,0.3); border-right: 2px solid rgba(1,1,1,0.3); border-bottom: 2px solid rgba(1,1,1,0.3); border-radius: 16px;">
    <source src="/video/remember-me-demo-sm.mp4" type="video/mp4">
    <a style="color:white" href="/video/remember-me-demo-sm.mp4">[Watch the video]</a>
</video>