---
title: "Remember Me. Die App zum Auswendiglernen von Bibelversen mit Freude"
linkTitle: "Remember Me 6"
description: "Mit mehr als zwei Millionen Downloads von Google Play ist Remember Me bei weitem die beliebteste App zum Auswendiglernen von Bibelversen. Die unentgeltliche App macht das Lernen von Bibeltexten zu einem freudvollen und glaubensstärkenden Erlebnis. Die Bibeltexte und -versionen sind frei wählbar. Verschiedene Spiele machen den Prozess des Auswendiglernens leicht und unterhaltsam! Gelernte Verse erscheinen nach grösser werdenden Abständen zur Repetition, damit Sie auch behalten, was Sie erarbeitet haben."
---

{{< blocks/cover image_anchor="top" height="full" color="dark" >}}
	{{< site-cover subTitle="Effektiv und kostenlos Bibelverse lernen – und dabei Spaß haben! Ohne Werbung, ohne Einschränkungen." >}}
{{< blocks/link-down color="success" >}}
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Bibelverse auswendig lernen mit Spielen, Bildern, Audio & Bibelvers-Karteikarten
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
<div style="text-align: center; width: 100%">
	<img src="/images/screen2-de.png" alt="Texte aus zahlreichen Bibeln und Sammlungen" height="480px"/><img src="/images/screen1-de.png" alt="Spass mit verschiedenen Übungsmethoden" height="480px"/><img src="/images/screen3-de.png" alt="Review verses with audio playback and flashcards" height="480px"/><img src="/images/screen4-de.png" alt="Mit Listen und Statistiken auf der Spur zum Erfolg" height="480px"/>
</div>
{{< /blocks/section >}}

{{< blocks/section color="white" type="row" >}}

{{% blocks/feature icon="fa-lightbulb" title="Die Bibel-Lernapp" %}}
{{< page-description >}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-heart" title="Funktionen" %}}
Verschiedene Lern-Methoden (Wort-Puzzle, Lücken füllen, Anfangsbuchstaben tippen) 
● Zufällig generierte Abfragen 
● Lernkarten mit abgestufter Repetition 
● Verses vorlesen lassen oder selber aufnehmen
● Bibelvers-Bilder 
● Bibelstellen von Online-Bibeln abrufen 
● Vers-Sammlungen mit anderen teilen 
● Synchronisation mit verschiedenen Geräten 
● Zahlreiche Bibelübersetzungen 
● Flexible Kategorisier- und Filtermöglichkeiten
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-gitlab" title="Beiträge willkommen!" %}}
Haben Sie einen Fehler gefunden? Bitte melden Sie ihn an [support@remem.me](mailto:support@remem.me).<br/>
Haben Sie ein Video-Tutorial erstellt? Lassen Sie es uns wissen, damit wir darauf verlinken können.<br/>
Können Sie helfen, diese Bibel-App und ihre Dokumentation in eine andere Sprache zu übersetzen? Bitte lesen Sie die [Anweisungen](/contribute/translate).<br/>
Die neue Remember Me Version 6 ist [Open Source](https://gitlab.com/remem-me).
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-star" %}}
"Die verschiedenen Hilfen zum Auswendiglernen finde ich total durchdacht und hilfreich. Auch ist es super praktisch, dass man wenn man eigene Verse erstellt den Text aus verschiedenen Übersetzungen automatisch einfügen kann und nur noch ein bisschen formatieren muss." Yanka!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-star" %}}
"Mit diese App macht das Lernen von Bibelversen unglaublich viel Spaß, der Sinn der Verse geht einem dadurch immer besser in Fleisch und Blut, man kann förmlich zusehen, wie Gott einem das Herz verändert und der Glaube wächst. Uneingeschränkte Empfehlung!" GoGoTask
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-star" %}}
"Bibelverse lernen war bislang eine fürchterliche Qual. Kurz gesagt: Ich hatte es aufgegeben und mich damit abgefunden, dass ich das nicht kann (Ich hatte mich mit klassischen Karteikarten „rumgequält“ …). Neulich hat es mich gepackt und ich habe doch nochmal nach einer App gesucht, die mir vielleicht helfen könnte. Gesagt, getan — und total begeistert. Ich bekomme die Verse mit all den diversen Lernspielen, dem Vorlesenlassen und mit Hilfe der Bilder ins Hirn! Ich bin total begeistert und mega glücklich! Die App ist echt eine super Sache! Kann ich jedem empfehlen, der sich mit dem Auswendiglernen von Bibelversen schwer tut. Persönlich finde ich es noch hilfreich, dass ich die App sowohl auf dem iPad als auch auf dem iPhone nutzen kann. Falls ich mal unterwegs bin …" KikiMama1986
{{% /blocks/feature %}}

{{< /blocks/section >}}
